span.verified {
    color: green;
}

span.unverified {
    color: red;
}

input.filter {
    color: #333;
    float: right;
}
input.filter:-moz-placeholder {
    color: #999 !important;
}
input.filter:-moz-placeholder {
    color: #999 !important;
}
input.filter:placeholder {
	color: #999 !important;
}