<!doctype html>
<html>
<head>
  <title>Release Monkey</title>
  <link href="/static/bootstrap.css" rel="stylesheet" />
  <link href="/static/releasemonkey.css" rel="stylesheet" />
  <script src="/static/jquery-1.5.2.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('.static',
				  filename='favicon.ico') }}" />
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Wingu ReleaseMonkey</a>
      <ul class="nav">
        <li><a href="{{ url_for('in_progress') }}">In Progress</a></li>
	<li><a href="{{ url_for('new_release') }}">Start New Release</a></li>
        <li><a href="{{ url_for('old_releases') }}">Old Releases</a></li>
      </ul>
    </div>
  </div>
</div>
<script language="javascript">
  function confirmDelete() {
    var confirmed = confirm('Are you sure you want to delete?');
    return confirmed;
  }
</script>
<div class="container">
{% block body %}{% endblock %}
</div> <!-- end container -->
</body>
</html>
