{% extends "layout.html" %}
{% block body %}
<div class="hero-unit">
  <h3>Fill in the details for the new release</h3>
  <form action="{{ url_for('create_release') }}" method="POST">
    <div class="clearfix">
      <label for="release_name">Release Name</label>
      <div class="input">
	<input type="text" id="release_name" name="release_name" 
	       value="{{ suggested_release_name }}" />
      </div>
    </div>
    <div class="clearfix">
      <label for="from_revision">From Revision (Exclusive)</label>
      <div class="input">
	<input type="text" id="from_revision" name="from_revision" 
	       value="" />
      </div>
    </div>
    <div class="clearfix">
      <label for="to_revision">To Revision (Inclusive)</label>
      <div class="input">
	<input type="text" id="to_revision" name="to_revision" 
	       value="" />
      </div>
    </div>
    <div class="actions">
      <input type="submit" class="btn primary" value="Start Release" />
    </div>
  </form>
</div> <!-- end hero-unit -->
{% endblock %}
